@media screen and (max-width: 600px) {
  #nofrills-toggle {
    display: flex;
  }
  #dropdown-items {
    width: 100vw;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (min-width: 600px) {
  #dropdown-items {
    display: flex !important;
  }
}

/* PARTIE HEADER */

@media screen and (max-width: 360px) {
  #logo {
    height: 40vh;
    width: 100%;
    background-image: url("../Assets/header.png");
    background-size: cover;
  }
}

@media screen and (min-width: 360px) and (max-width: 700px) {
  #logo {
    height: 45vh;
    background-image: url("../Assets/header.png");
    background-size: contain;
  }
}

/* PARTIE HEADER */