@media screen and (min-width: 320px) and (max-width: 1200px) {
  footer a {
    font-size: 14px;
  }
  #allRights-title {
    display: none;
  }
  #endFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    padding: 5%;
  }
  #leftFooter {
    width: 50%;
  }
  #centerFooter {
    width: 50%;
  }
  #rightFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
  }
}